@use '../util' as *;

.description{
    display: flex;
    place-items: center;
    flex-direction: column;
    margin: rem(30) auto;
    width: 100%;
        @include breakpoint(medium){
            max-width: 22%;
            max-height: rem(640);
            place-items: flex-start;
            margin: 0 auto;
        }
        @include breakpoint(large){
            margin: rem(80) 0 rem(5);
            max-height: rem(540);
        }
    &__top{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        place-items: center;
        gap:rem(20);
        width: 100%;
        margin: rem(20);
        background-color: var(--blue);
        border-radius: rem(30);
        padding: rem(40);
        z-index: 1;
        @include breakpoint(medium){
            //transition: ease-in-out 300ms;
            gap: rem(50);
            padding: rem(40) rem(30) rem(90);
            place-items: center;
        }
        @include breakpoint(large){
            padding: rem(40) rem(30) rem(65);
            
        }
        &--avatar{
            img{
                width: rem(80);
                height: rem(80);
                border: var(--pale-blue) solid rem(3);
                border-radius: 50%;
            }
        }
        &--name{
            display: flex;
            flex-direction: column;
            font-weight: 300;
            font-size: rem(30);
            span{
                font-weight: 400;
                font-size: rem(15);
            }
        }
    }
    &__list{
        background-color: var(--dark-blue);
        border-bottom-left-radius: rem(30);
        border-bottom-right-radius: rem(30);
        width: 100%;
        margin: rem(20);
        transform: translateY(rem(-60));  
        @include breakpoint(medium){
            //transition: ease-in-out 100ms;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: rem(130) rem(30) rem(80);
            transform: translateY(rem(-170)); 
        }
        @include breakpoint(large){
            padding: rem(100) rem(30) rem(30);
          
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: rem(50) rem(40) rem(10);
            flex-wrap: wrap;
            gap: rem(10);
            width: 100%;
            @include breakpoint(medium){      
                    gap: rem(20);
                    margin: 0 rem(-32) 0;
                }
          
            li{
                font-size: rem(18);
                font-weight: 400;
                a{
                    opacity: 0.5;
                    color: var(--pale-blue);
                    &:hover{
                        cursor: pointer;
                        color: var(--white);
                        opacity: 1;
                        transition: ease-in-out 300ms;
                    }
                    &:focus{
                        color: var(--white-focus);
                        opacity: 1;
                    }
                    
                }
            }
        }
    }
}